* {

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
    }

    header {

        background-color: rgba(0, 0, 0, 0.7);
        
        padding: 10px;
        
        }
        
        .navbar {
        
        display: flex;
        
        justify-content: space-between;
        
        align-items: center;
        
        max-width: 1200px;
        
        margin: 0 auto;
        
        }
        
        .navbar-brand a {
        
        color: white;
        
        text-decoration: none;
        
        font-size: 24px;
        
        }
        
        .navbar-links a {
        
        color: white;
        
        text-decoration: none;
        
        margin-left: 20px;
        
        font-size: 18px;
        
        transition: color 0.3s ease;
        
        }
        
        .navbar-links a:hover {
        
        color: green
        }

        
        .container {

            border: 5px solid red;
            
            text-align: center;
            
            display: flex;
            
            flex-wrap: wrap;
            
            justify-content: space-between;
            
            align-items: flex-start; /* Ensure items start from the top */
            
            }
            
            .box {
            
            width: calc(25% - 40px); /* Adjusted width to accommodate margin */
            
            margin-bottom: 20px; /* Space between rows */
            
            background-color: green;
            
            margin-top: 50px; /* Space between boxes */
            
            margin-bottom: 50px; /* Space between boxes */
            
            margin-left: 80px; /* Space between boxes */
            
            margin-right: 80px; /* Space between boxes */
            
            text-align: center;
            
            }
            
            .box img {
            
            width: 100%; /* Ensures image fills its container */
            
            height: 200px; /* Fixed height for all images */
            
            object-fit: cover; /* Prevents distortion */
            
            }
